/**
* Generic Section
**/

body {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

header {
    background-color: #ffffff;
    max-width: 100%;
    height: auto;
    padding-top: auto;
    padding-bottom: 15px;
    background-repeat: no-repeat; 
}

article {
    background-color: #ffffff;
    padding-top: 10px;
}

table {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color:#ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #71a06b;
    padding-top: 15px;
    width: 100%;
}

.nav ul { 
    background:#71a06b; 
    padding:0;
    z-index: 3;
 }
 
 .nav li { 
   width:auto;
   position: relative; 
   display:inline-block; 
   z-index: 3;
 }
 
 .nav a{ 
   text-decoration:none; 
   display:block; 
   color:white; 
   padding:15px;
   transition:0.2s all linear;
   z-index: 3;
 }
 
 .nav a:hover{
   background:#94c58c;
   color:white;
   transition:0.2s all linear;
   z-index: 3;
 }
 
 .nav li > ul { 
   background:#71a06b; 
   display:none;
   position:absolute;
   z-index: 3;
 }
 
 .nav li > ul li{ display:block; }
 
 .nav li:hover  > ul{
   display:block;
   background-color:#71a06b;
   opacity: 1;
   z-index: 3;
 }
 
 .nav ul ul ul { 
   background:#71a06b; 
   position:absolute;
   left:100%;
   top:0;
   z-index: 3;
 }

  /* hover button effect */
.buttons {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #71a06b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1.0;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  z-index: 3;
  }

  /* hover button effect */
.buttons:hover {
    background-color:#94c58c;
    opacity: 1
}

/*** https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow */
/* Slideshow container */
.slideshow-container {
    max-height: 600px;
    max-width: 600px;
    position: relative;
    margin: 2%;
    float: left;
  }
  
  /* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
 
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* slide show image */
img.example{
    float: left;
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    display: block;
    margin: 55px;
    margin-bottom: 5%;
    padding-left: 25px;
    text-align: center;
    font-style: normal;
    color:#71a06b
}

.p2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:#71a06b;
    font-size: 20px;
    display: block;
}

/**
* Home Section
**/

div.hometext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding: left;
    padding-right: 25px;
    font-size: 17px;
    text-align: center;
}

div.hometext2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    padding: left;
    padding-right: 25px;
    font-size: 17px;
    text-align: center;
}

div.exampleimage {
    margin-right: 75px;
    float: left;
    width: 35%;
}

/**
* Donate Section
**/

p.donatetxt {
    padding: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
}

div.donate {
   margin: 3%; 
   text-align: center;
   
}

article.donatepage {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    padding-top: 1px;
    padding-bottom: 15%;
}

.donate-iframe {
    border-color: #71a06b;
    border-style: double;
    float: left;
    display: block;
    width: 530px;
    height: 500px;
    margin: 35px;
    
}

div.floater-right {
    padding-right: 45px;
    float: right;
}

/* DONATE PAGE WEB FORM */
/* https://codepen.io/ssbalakumar/pen/bGwwaG?editors=1100 */


.donateform {
    max-width:400px;
	width: auto;
    padding-left: 50px;
	position:relative;
}
#donate input[type="text"], #donate input[type="email"], #donate input[type="tel"], #donate input[type="url"], #donate textarea, #donate button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#donate h3 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
	color: #71a06b;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#donate h4 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
	margin:5px 0 15px;
	display:block;
	font-size: px;
}

#donate input[type="text"], #donate input[type="email"], #donate input[type="tel"], #donate input[type="url"], #donate textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 35px;
	padding:10px;
}

#donate input[type="text"]:hover, #donate input[type="email"]:hover, #donate input[type="tel"]:hover, #contact input[type="url"]:hover, #donate textarea:hover {
	border:1px solid #AAA;
}

#donate button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#71a06b;
	color:#FFF;
	margin: 0 8px;
	padding:10px;
	font-size:15px;
}

#donate button[type="submit"]:hover {
	background:#65ad69;
}

#donate button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#donate input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

/* CONTACT WEB FORM PAGE */
/* https://codepen.io/ssbalakumar/pen/bGwwaG?editors=1100 */
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
    text-align: center;
	color: #71a06b;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    text-align: center;
	margin:5px 0 15px;
	display:block;
	font-size: 18px;
}

table.contact {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 15px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact button[type="submit"] {
    
	cursor:pointer;
	width:100%;
	border:none;
	background:#71a06b;
	color:#FFF;
    margin: 0 10px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#65ad69;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

#wrapper {
    width: 80%;
    font-size: 15px;
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

.smedia {
    display: inline-block;
    margin-left: 15px;
    margin-right: 1px;
    height: 50px; 
}

#images {
    text-align:center;

}

.column {
    float: left;
    padding: 10px;
    height: 200px;
}
  
.left{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f2f2f2;
    text-align: center;
    float: left;
    
    width: 500px;
    height: 400px;
    
}

.right {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f2f2f2;
    text-align: center;
    float: right;
    width: 500px;
    height: 400px;
    

}
  
.middle {
    display:block;
    padding: 200px 5 2;
    width: 400px;
}


.beach-area{
    width: 50%;
    padding: 20px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.beach-img{
    width: 500px;
    height: 300px;
}

/* https://www.delftstack.com/howto/css/css-font-border/ */

.scenary-label {
    -webkit-text-stroke: 1px #65ad69;
    font-family: arial; color: #65ad69;
    ;
    font-size: 14px;
    padding: 8px 12px;
    padding-top: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
   }
  


